    

.WhatsAppButton__root {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 101;
    text-align: center;
    position: fixed;
    bottom: 10px;
    z-index:99; 
    text-align: center; 
    margin: auto; 
    max-width: 50px
}

.WhatsAppButton__root:hover > .whatsapp__poweredBy {
    visibility: visible;
}

.chatting-whatsapp__button {
    border-radius: 50%;
    box-shadow: 0 4px 9px #00000024;
    border: none;
    background: #e6e6e6;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    font-family: DM Sans;
    font-size: 20px;
    transition: all ease-in-out 100ms;
    margin: 10px 0px;
    flex-direction: row;
    padding: 8px 16px;
}

.chatting-whatsapp__button:hover {
    cursor: pointer;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.14);
    

}

.whatsapp__poweredBy {
    visibility: hidden;
    text-decoration: none;
    font-size:9px;
    color: rgb(184, 184, 184);
    margin-top: 12px;
    font-family: DM Sans;
    transition: all ease-in-out 100ms;
    position: fixed;
    bottom: 4px;
   
}




.callTo {
    text-decoration: none;
    font-size:15px;
    border-radius: 8px;
    width: fit-content;
    background-color: white;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.14);

    bottom: 23px; 
    height: 20px;
    padding: 5px 10px; 
    font-family: DM Sans;
    transition: all ease-in-out 100ms;
    position: fixed;
    
}

.whatsapp__poweredBy:hover {
    color: black;
    cursor: pointer;
}




@media only screen and (max-width: 600px) {
  
    .chatting-whatsapp__button {
        border-radius: 50%;
        box-shadow: 0 4px 9px #00000024;
        border: none;
        background: #3F40C2;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 55px;
        width: 55px;
        font-family: DM Sans;
        font-size: 20px;
        transition: all ease-in-out 100ms;
        margin: 10px 0px;
        flex-direction: row;
        padding: 8px 16px;
    }


    .callTo{ 
        margin: 0px 10px; 
        bottom: 25px;
    }

   
}